# LaTeX trash

lectures/**/*.log
lectures/**/*.aux
lectures/**/*.toc
lectures/**/*.synctex.gz

# Mac OS trash
**/.DS_Store
**/*.graffle/*

# Python trash
**/__pycache__/**
**/.ipynb_checkpoints/**
**/.idea/**


# Unfinished trials
**/Untitled*.ipynb

# Private directory for materials
lectures/materials/

# Ignore session transcripts
practise-sessions/**/*_a.ipynb

# Ignore specific files
practise-sessions/01/tutorials/*.hdf5
practise-sessions/01/tutorials/*.csv
practise-sessions/01/tutorials/*.pdf

# Ingnore specific directories
practise-sessions/01/image-generation/data/
practise-sessions/01/image-generation/models/
